$keycolor: rgb(0, 0, 255);

header {
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    padding: 10px 40px;
	height:10%;
}

.title {
    font: 800 2.5rem "Roboto Slab", serif;
	color: #FFFFFF;
}