$keycolor: rgb(0, 0, 255);

header {
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    padding: 10px 40px;
	height:150px;
	//background: linear-gradient(-45deg, #ff0000, #ffffff, #0000ff, #ffffff);
	//background-size: 400% 400%;
	//animation: gradient 15s ease infinite;
}

.title {
    font: 800 2.5rem "Roboto Slab", serif;
	color: #FFFFFF;
}

//@keyframes gradient {
//	0% {
//		background-position: 0% 50%;
//	}
//	50% {
//		background-position: 100% 50%;
//	}
//	100% {
//		background-position: 0% 50%;
//	}
//}